language: java
jdk:
- oraclejdk8
- oraclejdk7

# force upgrade Java8 as per https://github.com/travis-ci/travis-ci/issues/4042 (fixes compilation issue)
#addons:
#  apt:
#    packages:
#      - oracle-java8-installer

# prevent travis running gradle assemble; let the build script do it anyway
install: true
      
sudo: required
# as per http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/

# script for build and release via Travis to Bintray
script: gradle/buildViaTravis.sh

# Code coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)

# cache between builds
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle
